@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }}

  .section{
    padding-block: 7rem 2rem;
  }

  .nav__menu{
    width: initial;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__conatiner{
    grid-template-columns: 530px 550px;
    align-items: center;
    column-gap: 2rem;
    padding-block: 8rem 3rem;
  }
  .home__data{
    text-align: initial;
  }
  .home__title{
    margin-bottom: 1rem;
    position: relative;
    z-index: 5;
  }
  .home__description{
    margin-bottom: 3.5rem;
    padding-right: 7.75rem;
  }
  .home__dam-1{
    width: 100px;
    right: 10rem;
    top: initial;
    bottom: -1rem;
  }
  .home__dam-2{
    width: 120px;
    top: -4.5rem;
    left: -4.5rem;
  }
  .home__img{
    width: 550px;
    position: relative;
    z-index: 5;
  }
  .home__dam-3{
    width: 110px;
    top: -3.5rem;
    right: -2rem;
  }
  .home__dam-4{
    width: 110px;
    right: 2.5rem;
    bottom: -2.5rem;
  }
  .home__dam-5{
    width: 150px;
    top: initial;
    left: -3rem;
    bottom: 9rem;
  }

  .about__container{
    grid-template-columns: 460px 420px;
    align-items: center;
    column-gap: 11rem;
    padding-block: 10rem 4rem;
  }
  .about__data{
    order: 1;
    text-align: initial;
    margin-bottom: 7rem;
  }
  .about__data :its(.section__title, .section__subtitle){
    text-align: initial;
  }
  .about__description{
     margin: 0 auto;
  }
  .about__images{
    margin-right: 0;
  }
  .about__img-1{
    width: 460px;
    top: -11rem;
    right: -6.5rem;
  }

  .order__container{
    grid-template-columns: repeat(3, 250px);
    gap: 6.5rem 4rem;
    padding-block: 3rem;
  }
  .order__filters{
    margin: 4rem 0 5.5rem;
    column-gap: 4rem;
  }
  .order__content{
    grid-template-columns: repeat(3, 262px);
    justify-content: initial;
    column-gap: 5rem;
  }
  .order__card{
    padding: 9.5rem 1.25rem 1.25rem;
    border-radius: 2rem;
    border-width: 6px;
  }
  .order__img{
    width: 200px;
    top: -3.5rem;
  }
  .order__title{
    font-size: var(--h2-font-size);
  }
  .order__price{
    font-size: var(--h1-font-size);
  }
  .order__button{
    font-size: 1.5rem;
    right: 1.25rem;
    bottom: 1.25rem;
  }
  
 .delivery__container{
   grid-template-columns: 440px 550px;
   column-gap: 4rem;
   align-items: center;
   padding-block: 1rem;
 }
 .delivery__container .section__title,
 .delivery__data{
  text-align: initial;
 }
 .delivery__description{
  margin-bottom: 3.5rem;
 }
 .delivery__sticker{
  width: 50px;
  right: 8rem;
  bottom: 0;
 }
 .deliver__img{
  width: 550px;
 }

  .contact{
    max-width: initial;
  }
  .contact__container{
    border-radius: 4rem;
    padding-block: 4rem 6.5rem;
  }
  .contact__content{
    grid-template-columns: 420px 435px;
    justify-content: center;
    column-gap: 6.5rem;
  }
  .contact__data{
    grid-template-columns: repeat(2, max-content);
    text-align: initial;
    gap: 4.5rem 2rem;
    order: 1;
  }
  .contact__social{
    justify-content: center;
  }
  .contact__title{
    margin-bottom: 1rem;
  }
  .contact__image{
    position: relative;
    width: 100%;
  }
  .contact__img{
    width: 420px;
    position: absolute;
    top: -2.5rem;
  }
  .contact__sticker-1{
    width: 70px;
    left: 27rem;
    top: 10rem;
  }
  .contact__sticker-1{
    width: 40px;
    left: 10rem;
    top: 5.5rem;
  }

  .footer{
    background-color: var(--body-color);
    padding: 3rem 0 2rem;
  }
  .footer__container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 1.5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   gap: 2rem;
  }

  .footer__logo{
   display: inline-block;
   margin-bottom: 1rem;
  }

  .footer__logo img{
   width: 170px;   /* control logo size */
   height: auto;
  }
  .footer__social,
  .footer__pay,
  .footer__social{
    justify-self: initial;
  }
  .footer__title{
   font-size: 1.2rem;
   margin-bottom: 1rem;
   font-weight: 600;
  }
  .scrollup{
    right: 3rem;
  }