@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Unbounded:wght@700&display=swap');

:root {
  --header-height: 3.5rem;

  --first-color: #EDE2C2; 
  --body-color: #B91410;
  --text-color: #003153;
  --text-hover-color: #2d87c6;
  --black-color: #000000;
  --white-color: #ffffff;
  --shadow-img: drop-shadow(0 16px 24px hsla(0, 0%, 0%, .2));

  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--first-color);
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.order__content {
  grid-template-columns: repeat(4, 1fr);  
}

.section__title,
.section__subtitle {
  text-align: center;
  font-family: var(--second-font);
}

.section__title {
  font-size: var(--big-font-size);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, .1) .4s;
}

/* Main nav container */
.nav {
position: relative;
  height: 70px;               
  display: flex;
  justify-content: flex-end;   /* menu on the right */
  align-items: center;         /* everything vertically centered */
  padding: 0 1rem;
  overflow: visible;   
} 

/* Logo container */
.nav__logo {
   margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Logo image */
.nav__logo img {
  height: 190px;
  width: auto;
  display: block;
  position: relative;
  top: 50%;                    /* move to middle */
  transform: translateY(8%); /
}

/* Menu styles */
.nav__menu {
  display: flex;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Menu links */
.nav__link {
  color: var(--black-color);
  font-family: var(--second-font);
  text-decoration: none;
  transition: color .4s;
}

.nav__link:hover {
  color: var(--text-hover-color);
}

/* Mobile menu */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    width: 80%;
    height: 100%;
    padding: 8rem 3.5rem 0;
    box-shadow: -4px 0 16px hsla(0, 0%, 0%, .1);
    transition: right .4s;
  }
}

@media screen and (max-width: 1150px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
}
  .show-menu {
    right: 0;
  }

  .shadow-header {
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, .1);
}

/* Active link color */
.active-link {
  color: var(--text-color);
}


.home {
  background-color: var(--first-color);
}

.home__container {
  display: flex;              /* put text + image side by side */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.home__title {
  font-size: var(--bigger-font-size);
  margin-bottom: .5rem;
  flex: 1 1 auto !important; 
  text-align: left;
  margin: 57px;
}

.home__title span {
  color: var(--text-color);
}

.home__description{
  text-align: left;
  margin: 62px;    
  margin-top: 2px;
}

.home__dam-1,
.home__dam-2,
.home__dam-3,
.home__dam-4,
.home__dam-5 {
  position: absolute;
}

.home__dam-1 {
  width: 85px;
  top: 4.5rem;
  right: -1.5rem;
}

.home__dam-2 {
  width: 80px;
  top: -3.5rem;
  left: -2.5rem;
}

.home__dam-3 {
  width: 60px;
  top: -2rem;
  right: -1rem;
}

.home__dam-4 {
  width: 100px;
  right: .75rem;
  bottom: -2.00rem;
}

.home__dam-5 {
  width: 140px;
  top: 5rem;
  left: -2.5rem;
}

.home__images {
  flex: 1 1 50% !important;
  display: flex !important;
  justify-content: center !important;
}

.home__img {
  max-width: 400px;
  width: 100%;
  display: block;
  margin-right: 4rem; /* adds space from right side */
  justify-self: end;
  filter: var(--shadow-img);
}

.about {
  background-color: var(--first-color);
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  grid-template-areas: "image text";
  align-items: start;           /* vertical center */
  gap: 2rem;
}

.about__data {
  grid-column: 2;          /* force text into right column */
  text-align: right;
  align-items: flex-end;
  grid-area: text;
}

.about__data .section__subtitle, .section__title {
  color: var(--text-color);
  text-align: right;
}

.about__data .section__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.about__data .section__title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-left: 45px;
}

.about__description {
  font-size: 1.1rem;
  max-width: 400px; /* match your title width */
  text-align: right;
  margin-left: 129px;
}

.about__images {
  order: 1; /* show first (left side) */
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: -110px;
  max-width: 515px;  
}

.about__img-1 {
  max-width: 100%;
  height: auto;
  display: block;
  filter: var(--shadow-img);
}

.about__dam-4 {
  width: 165px;
  right: .75rem;
  bottom: -2.00rem;
}

.about__dam-5 {
  width: 140px;
  top: 5rem;
  left: -2.5rem;
}

.about__button{
  display: inline-block; 
  margin-top: 1rem; 
  padding: 0.75rem 1.5rem;
  background-color: var(--black-color);
  color: var(--first-color);
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 13px 29px rgba(0, 0, 0, 0.3)
}

.order {
  background-color: var(--first-color);
}

.order__data {
  text-align: left;   /* align text to left */
  align-items: flex-start; /* if using flexbox */
  display: flex;
  flex-direction: column;
}

.order__container {
  padding-block: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem 1.5rem;
  text-align: center;
}

.order .section__title, .section__subtitle {
  text-align: center;
  width: 100%;
}

.order h2.section__title {
  font-size: 3rem !important;
  font-weight: bold !important;
  margin-bottom: 1.5rem;
}

.order .section__subtitle{
    font-size: 2.2rem; /* bigger subtitle */
    display: block;
    margin-bottom: 0.5rem;
}

.order__item {
  cursor: pointer;
}

.order__name {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  color: var(--text-color);
  margin: 0 0 .75rem 0;
  display: block;
  text-align: left;
}

.order__card {
  display: flex;
  flex-direction: column;   /* stack children vertically */
  justify-content: space-between; /* spread them apart */
  align-items: center;
  position: relative;
  background-color: var(--body-color);
  padding: 6rem .75rem 1rem;
  border-radius: 1rem;
  border: 4px solid var(--white-color);
}

.order__img {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  width: 120px;
  margin: 0 auto;
  filter: var(--shadow-img);
  transition: transform .4s; 
}

.order__card.burger1 .order__img {
  width: 155px;   /* custom size for this one */
  height: auto;
  margin-top: -20px; 
}

.order__card.burger4 .order__img {
  width: 155px;   /* custom size for this one */
  height: auto;
  margin-top: -20px;
}

.order__card.drinks4 .order__img {
  width: 155px;   /* custom size for this one */
  height: auto;
  margin-top: -20px;
}

.order__card.sides2 .order__img {
  width: 140px;   /* custom size for this one */
  height: auto;
  margin-top: -20px;
}

.order__card.sides1 .order__img {
  width: 130px;   /* custom size for this one */
  height: auto;
  margin-top: -4px;
}

.order__price {
  color: var(--black-color);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  display: block;
  text-align: left;
  margin: 0
}

.order__card .order__data,
.order__card .order__data .order__name,
.order__card .order__data .order__price {
  text-align: left !important;
  align-self: flex-start !important;
}

.order__button {
  position: absolute;
  right: .75rem;
  bottom: 1rem;
  background-color: var(--black-color);
  color: var(--first-color);
  padding: 6px;
  border-radius: .5rem;
  font-size: 1.25rem;
  display: inline-flex;
  cursor: pointer;
  transition: transform .4s;
}

.order__button:hover {
  background-color: var(--first-color);
  color: var(--black-color);
  transform: translateY(-.3rem);
}

.order__card:hover .order__img {
  transform: translateY(-.5rem);
}

.active-order .order__title {
  color: var(--text-color);
}

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with transparency */
  display: none; /* Hide by default */
  z-index: 5;
}

.payment {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 13px 29px rgba(0, 0, 0, 0.3);
            z-index: 9999;
            display: none;
        }

.payment-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    position: relative;
}


.payTitle {
    font-size: 20px;
    color: var(--body-color);
}

label {
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder {
    color: rgb(163, 163, 163);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.close {
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 5px;
        }

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.delivery__container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* left text, right image */
  align-items: center;            /* vertical alignment */
  gap: 2rem;
}

.delivery__data {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* everything left aligned */
  gap: 1.25rem;
  padding-left: 3rem;
}

.delivery__data .section__subtitle {
  color: var(--body-color);
  text-align: left;
  font-size: var(--big-font-size);
  margin-left: 0;
}

.delivery__description {
  text-align: left;
  margin-left: 0;
  max-width: 400px;
}

.delivery__sticker {
  width: 125px;
  rotate: 15deg;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  opacity: .5;
}

.delivery__img {
  max-width: 460px;  /* control size */
  width: 100%;
  height: auto;
  display: block;
  margin-left: 135px;
  filter: var(--shadow-img);
}

.delivery__button{ 
  display: inline-block;
  margin-left: 0;
  align-self: flex-start; /* if parent is flex */
  text-align: left;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--text-color);
  color: var(--first-color);
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 13px 29px rgba(0, 0, 0, 0.3)
}

.contact__container {
  position: relative;
  background-color: var(--text-color);
  padding-top: 3.5rem;
  border-radius: 3rem;
  overflow: hidden;
  display: block;
}

.contact__content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.contact__container .section__title,
.contact__title1, .contact__title2, .contact__title3,
.contact__info {
  color: var(--first-color);
}

.contact__data {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__row-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 2rem;
}

.contact__title1,
.contact__title2,
.contact__title3 {
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.contact__write,
.contact__call {
  flex: 1;
}

.contact__find {
  margin-top: 1rem;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact__title {
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.contact__social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.contact__social a {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  color: var(--text-color);
  font-size: 1.5rem;
  border-radius: .5rem;
  display: grid;
  place-items: center;
  transition: transform .4s;
}

.contact__social a:hover {
  transform: translateY(-.25rem);
}

.contact__info {
  font-style: normal;
  grid-area: right !important;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: left;
}

.contact__image {
  flex: 1;   /* fixed width column for image */
}

.contact__img {
  width: 100%;
  max-width: 350px; /* adjust size */
  height: auto;
  display: block;
  margin: 0 auto;
  filter: var(--shadow-img);
}

.contact__sticker-1,
.contact__sticker-2 {
  position: absolute;
  opacity: .5;
}

.contact__sticker-1 {
  width: 60px;
  top: 8rem;
  left: 3rem;
}

.contact__sticker-2 {
  width: 30px;
  right: 3rem;
  bottom: 12rem;
}

.footer {
  background-color: var(--first-color);
  padding: 2rem 0;
  background: var(--body-color);
}

.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;                /* use flex instead of grid */
  justify-content: flex-start; /* spread items across */
  align-items: flex-start;
  gap: 11rem;
  text-align: left;
}

.footer__content {
  display: flex;                /* make children (Social, Payment, Email) in row */
  gap: 3rem;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}

.footer__logo img {
 width: 170px; 
 height: auto;
}

.footer__social,
.footer__form {
  margin: 0 0 .75rem 0; 
  font-weight: 800; 
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.footer__social-link {
  display: inline-block;
  margin-right: .75rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--first-color);
  transition: transform .4s;
}

.footer__social-link svg {
  width: 24px;   /* same size as others */
  height: 24px;  /* force uniform */
}

.footer__social-link:hover {
  transform: translateY(-.25rem);
}

.footer__pay {
  display: flex;
  align-items: center;   /* centers them vertically */
  gap: .5rem;
}

.footer__pay-card {
  height: 26px;
  margin-right: .5rem;
}

.footer__form {
  background-color: var(--first-color);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 360px;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
}

.footer__input {
  width: 100%;
  background: transparent;
  padding-left: .5rem;
  color: var(--black-color);
  border: 0;
  flex: 1;
  outline: none;
}

.footer__input::placeholder {
  color: var(--black-color);
}

.footer__copy {
  display: block;
  margin-top: 2rem;
  text-align: center;
  color: var(--first-color);
  font-size: var(--small-font-size);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--text-color);
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, .1);
  color: var(--first-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}
